root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.py]
indent_size = 4

# 生成的位图数据，别让编辑器格式化它
[src/assets/whale_96.h]
insert_final_newline = false
